<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="Flipkart.Utils.Listeners"/>

</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="Flipkart.ExcelData.ReadExcelFile"/>
      <class name="Flipakart_TestMethodPages.Flipakart_MainTestMethod"/>
      
      <class name="Flipkart.Base.BaseClass"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
